.container {
  padding: 50px 20px;
}

.container--centered {
  text-align: center;
}

.container--white {
  background-color: $colour-white;
}

.container--grey {
  background-color: $colour-light-grey;
}
