.header,
.header-menu {
  position: relative;
  @include flex-centered;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
  background-color: $colour-white;

  a {
    position: absolute;
    left: 20px;
  }

  &__logo {
    width: 140px;
  }
}
