.card {
  width: 100%;
  font-weight: 500;
  border-radius: 12px;
  box-shadow: $shadow-primary;
}

.restaurant-card {
  position: relative;
  height: 210px;
  font-size: 14px;
  background-color: $colour-white;

  &__img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;

    > div {
      @include flex-column;
      gap: 4px;
    }

    span {
      font-weight: 300;
      color: $colour-mid-grey;
    }

    .fa-regular {
      font-size: 20px;
      color: $colour-mid-grey;
    }
  }
}
