.scroll-locker {
    overflow: hidden;
    animation: scroll-unlocker .2s 3s forwards;
}

.loader {
    position: fixed;
    left: 0;
    @include flex-centered;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: $colour-white;
    animation: spinner-background .2s 3s forwards;

    &__spinner {
        position: relative;
        width: 22.4px;
        height: 22.4px;

        &::before, &::after {
            --radius: 250;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            animation: spinner 3s infinite linear;
            background: #9356dc;
            border-radius: 50%;
        }

        &::before {
            --radius: -250;
            background: #ff79da;
         }
    }
}