body {
  background-color: $colour-light-grey;
}

.main-restaurant-img {
  display: block;
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.menu {
  position: relative;
  top: -32px;
  padding: 20px 20px 18px 20px;
  text-align: center;
  border-radius: 32px 32px 0 0;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;

    @include tablet {
      width: calc(426px - 40px);
      margin: 0 auto;
    }

    @include large-tablet {
      width: calc(768px - 40px);
      margin: 0 auto;
    }

    .fa-regular {
      font-size: 22px;
      color: $colour-mid-grey;
    }
  }

  &__btn {
    margin-top: 50px;
  }
}

.menu-content {
  @include flex-column;
  gap: 20px;
  text-align: left;

  @include tablet {
    width: calc(426px - 40px);
    margin: 0 auto;
  }

  @include large-tablet {
    width: calc(768px - 40px);
    margin: 0 auto;
  }

  &__heading {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      width: 34px;
      height: 2px;
      margin-top: 4px;
      background-color: $colour-green;
    }
  }

  &__card {
    @include flex-centered;
    height: 60px;
    padding-left: 20px;
    background-color: $colour-white;
    overflow: hidden;
    opacity: 0;
    transform: translateY(10px);
    animation: card-reveal .5s forwards;

    $count: 13;
    @for $i from 1 through $count {
      &:nth-of-type(#{$i}) {
        animation-delay: animation-delay($i);
      }
  }

    &:hover {
      .menu-content__card--wrapper {
        width: calc(100% - 60px);
      }

      .check-box {
        width: 60px;
        transform: translateX(0);

        .fa-solid {
          animation: check-icon .5s forwards;
        }
      }
    }

    &--wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      transition: .5s;

      .meal {
        min-width: 0;

        h3 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 4px;
          font-size: 14px;
          font-weight: 500;
        }

        div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
          font-weight: 300;
        }
      }
      
      .price {
        padding: 0 20px;
        font-size: 14px;
        font-weight: 500;
        transition: .5s;
      }
    }

    .check-box {
      position: relative;
      @include flex-centered;
      width: 0;
      height: 100%;
      color: $colour-white;
      border-radius: 0 12px 12px 0;
      background-color: $colour-green;
      transform: translateX(60px);
      transition: .5s;

      .fa-solid {
        font-size: 20px;
        transform: rotate(0);
      }
    }
  }
}
