@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inline-flex-centered {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin btn {
  @include inline-flex-centered;
  height: 40px;
  padding: 0 20px;
  color: $colour-white;
  font-size: 14px;
  font-weight: 300;
  border-radius: 50px;
  background: $gradient;
  box-shadow: $shadow-primary;
  transition: .2s;

    &:hover {
        box-shadow: $shadow-hover;
        background: $gradient-lighter;
    }
}

@mixin tablet {
  @media (min-width: map-get($breakpoints, 'tablet')) {
    @content;
  }
}

@mixin large-tablet {
  @media (min-width: map-get($breakpoints, 'large-tablet')) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (min-width: map-get($breakpoints, 'large-desktop')) {
    @content;
  }
}

@mixin xlarge-desktop {
  @media screen and (min-width: map-get($breakpoints, 'tablet')) {
    @content;
  }
}
